/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notify-success {
  color: #ffffff;
  background-color: #77dd77;
}

.notify-error {
  color: #ffffff;
  background-color: #ff6961;
}

.notify-info {
  color: #ffffff;
  background-color: #33ccff;
}
